# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# @see https://www.prisma.io/docs/reference/database-reference/connection-urls
# @see https://supabase.com/docs/guides/integrations/prisma#connection-pooling-with-supabase
# PostgreSQL connection string with pgBouncer config — used by Prisma Client
DATABASE_URL="postgresql://postgres:Mi6tcNNm22qC50Tp@db.ptuvhgjossijfhigdnfy.supabase.co:5432/postgres" #"postgres://postgres.ptuvhgjossijfhigdnfy:Mi6tcNNm22qC50Tp@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres"
# PostgreSQL connection string used for migrations
DIRECT_URL="postgresql://postgres:Mi6tcNNm22qC50Tp@db.ptuvhgjossijfhigdnfy.supabase.co:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://ptuvhgjossijfhigdnfy.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0dXZoZ2pvc3NpamZoaWdkbmZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTkyMjg5MTcsImV4cCI6MjAxNDgwNDkxN30.ue1JygtBqifFr1kxHCFzPeGoQxVQNf85es-2kxEJSqU"